# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
.venv/
.env/

# Mac system files
.DS_Store

# Environment variable files
*.env